ALTER TABLE events ADD COLUMN judges_order JSONB; ALTER TABLE events ADD COLUMN current_judge_index INTEGER DEFAULT 0; ALTER TABLE events ADD COLUMN turn_duration_seconds INTEGER DEFAULT 60; ALTER TABLE events ADD COLUMN turn_start_time TIMESTAMP WITHOUT TIME ZONE;
